# python3 -m pip install -r requirements.txt
#
# Update: https://stackoverflow.com/questions/24764549/upgrade-python-packages-from-requirements-txt-using-pip-command
# python3 -m pip install --upgrade -r requirements.txt
taichi
